<div class="dashboard-container">
    <!-- Show a loading message until userName is fetched -->
    <div *ngIf="isLoading; else contentTemplate">
      <p>Loading...</p>
    </div>
  
    <!-- Main content -->
    <ng-template #contentTemplate>
      <div *ngIf="!errorMessage; else errorTemplate">
        <h1>Hi {{ name }}!</h1>
        <p>It is {{ currentDate | currentDate:'medium':true }}.</p>
      </div>
    </ng-template>
  
    <!-- Error message -->
    <ng-template #errorTemplate>
      <p class="error-message">{{ errorMessage }}</p>
    </ng-template>
  </div>
  